@{
    ViewBag.Title = "details";
}
<html>
<head>

    <title>CV OF MEHEDI HASAN</title>
    <h2 style="background-color:#fbffa3;border:3px solid black;" align=center>
    </h2>
    <hr />
    <h3 style="background-color:red;" align =center> CV-Cover Letter</h3>
    <hr />
</head>
<body>
    
    <p>TANVIR AHMED </p>
    <p>American International University Bangladesh (AIUB)<p />
    <p>
        408/1, Kuratoli, Khilkhet,
        Dhaka    1229, Bangladesh<br /><br />
    <p>24-05-2022 </p>
    <p align=justify>
        Dear Sir,</br>
        I'm One of the Student of Advanced Programing with .Net section-[B] and this is demo CV    </p>


    <p>
        Yours sincerely,</br>
        <b>
            Name: MD. MEHEDI HASAN ZAMIL</br>
            Address: Bashundhara-16/2 block-A, Dhaka</br>
            <u>Email: mahimehedi4@gamil.com</u>
        </b>
    </p>

    <hr /><h3 style="background-color:red;" align=center> Personal Information</h3>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border: 3px solid black;
            text-align: center;
            padding: 8px;
        }

        td {
            border: 3px solid black;
            text-align: left;
            padding: 8px;
        }
    </style>
    <b>
        <table>
            <tr>
                <th>Base</th>
                <th>Information</th>

            </tr>
            <tr>
                <td>Full Name:</td>
                <td>MD.MEHEDI HASAN ZAMIL</td>

            </tr>
            <tr>
                <td>Father Name:</td>
                <td>MD.MOFIZUL ISLAM</td>
            </tr>
            <tr>
                <td>Mother Name:</td>
                <td>MST.SULTANA JESMIN</td>
            </tr>
            <tr>
                <td>Mailing Address    :</td>
                <td><u>mahimehedi4@gmail.com</u></td>
            </tr>
            <tr>
                <td>Permanent Address:</td>
                <td>Misree,laksam,cumilla,chittagong</td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td>14 July 1990 </td>
            </tr>
            </tr>
            <tr>
                <td>NATIONALITY :</td>
                <td>Bangladeshi</td>
            </tr>
            </tr>
            <tr>
                <td>MARITAL STATUS:</td>
                <td>single</td>
            </tr>  </tr>
            <tr>
                <td>RELIGION :</td>
                <td>Islam</td>
            </tr>
            </tr>
            <tr>
                <td>HOME DISTRICT :</td>
                <td>Comilla</td>
            </tr>
        </table>
    </b>
    <h3 style="background-color:red;" align=center> ACADEMIC QUALIFICATION</h3><hr />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
    </style><table>
        <tr>
            <th>Name Of Degree</th>
            <th>Board/University</th>
            <th>Year</th>
            <th>CGPA/GPA</th>

        </tr>

        <tr>
            <td><b>BSC:</b></td>
            <td><b>AIUB</b></td>
            <td><b>2022</b></td>
            <td><b>3.70</b></td>

        </tr>

        <tr>
            <td><b>HSC:</b></td>
            <td><b>Comilla</b></td>
            <td><b>2019</b></td>
            <td><b>5.00</b></td>

        </tr>

        <tr>
            <td><b>SSC:</b></td>
            <td><b>Comilla</b></td>
            <td><b>2017</b></td>
            <td><b>5.00</b></td>

        </tr>






    </table>
    <br /><br />
    <hr /><h3 style="background-color:cyan;" align=center> REFERENCE</h3><hr />
    Link-<a href="https://web.facebook.com/profile.php?id=100012090639458" target="_blank">Facebook Profile</a>
    <br /> <br />
    <b> Name: HABIB ULLAH</b><br />
    Director, Standard Group. <br />
    Address: Baridhara, block-J, Dhaka<br />
    Phone: 018---------<br />
    E-mail:habibullah@yahoo.com<br />
    <br />
    <b>Name: KABIR KHAN </b><br />
    Executive Civil Engineer, Bashundhara Group.<br />
    Address: Bashundhara block-A, Dhaka<br />
    Phone: 016---------<br />
    E-mail:kabir7@icloud.com<br />

    <hr /><h3 style="background-color:yellow;" align=center><b>PARTICIPATION</b></h3><hr />
    <b>
        I took particiapation on-<br />
        ->Huawei Mobile App Program.<br />
        ->ICPC Dhaka Regional 2020 Online Preliminary Contest<br />
        ->Codeshock Programming Contest 2021 in Bangladesh<br />
        Also i'm a regular member of ACS Group and i'm also member of other groups such as-<br />
        ->AIUB Community of Engineering Students (ACES)<br />
        ->AIUB SOMOY CLUB<br />
        ->AIUB FILM AND ART CLUB<br />
        ->AIUB SCIENCE CLUB
    </b>



    <hr /><h3 style="background-color:yellow;" align=center><b>SKILL</b></h3><hr />
    <b>
        EXCELLENT COMMUNICATION SKILLS IN ENGLISH AND BANGLA BOTH WRITTEN AND VERBAL<br /><hr />
        I have skills on these things and subjects-<br /> *java<br />*c#<br />*c++<br />*phython<br />
        *Learning concepts and applying them to other problems<br />
        *Mathematical skills<br />
        *Problem-solving capability<br />
        *Communication skills<br />
        *Writing skills<br />
        *Inquisitiveness<br />
        *Self-motivation.
    </b>
    <hr /><h1 style="background-color:blue;" align=center> THE END</h1><hr /><br />
</body>


</html>
