
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table table-bordered table-dark table-hover">
    <thead>
    <tr>
        <td align="center"><b>Name:</b></td>
        <td align="center"><b>ID:</b></td>
        <td align="center"><b>DOB:</b></td>
    </tr>
        </thead>
    <tr>
        <td>MD.MEHEDI HASAN ZAMIL</td>
        <td>19-41349-3</td>
        <td>28/12/2000</td>

    </tr>
    <tr>
        <td>MD.MEHRAB HASAN MAHI</td>
        <td>25-41349-3</td>
        <td>04/03/2005</td>

    </tr>
   

</table>

